<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="~/css/style.css"/>
        <title>Document</title>
    </head>

    <!-- html/head tags removed for brevity -->
    <body>
        <div class="header">
            <h1>Here are some delicious foods!</h1>
        </div>
        <div class="fruit-container">
            @{
                var FruitList = new List<string>
                {
                    "Apple Pie",
                    "Burritos",
                    "Clams Casino",
                    "Donuts"
                };
                    
                foreach(var word in FruitList)
                {
                    <div>
                        @if(word.Substring(0, 1) == "c" || word.Substring(0, 1) == "C")
                        {
                            <p class="red-text">@word</p>
                        }
                        @if(word.Substring(0, 1) != "c" && word.Substring(0, 1) != "C")
                        {
                            <p>@word</p>
                        }
                    </div>
                }
            }
        </div>
    </body>
</html>